<!DOCTYPE html>
<html>
<head>
	<title>Online CV</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
		<div class="page-wrapper">
			<div class="header">
				<div class="row">
					<div class="col-md-3">
						<a href="@Url.Action("Index", "Home")"><img class="img-responsive img-circle logo" src="~/Images/logo.jpg" ></a>
						<span>Online CV</span>
					</div>
					<div class="col-md-4 col-md-offset-5 menubar">
						@Html.ActionLink("Home","Index","Home")
						@Html.ActionLink("Find Jobs","Index","Home")
						@Html.ActionLink("Build Your CV","Index","Home")
						@Html.ActionLink("Sign Up","Index","Home")
					</div>
				</div>
			</div>
			<hr></hr>
			
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>

			<div class="footer">
				<div class="row">
					<div class="col-md-3">
						<a href="@Url.Action("Index", "Home")"><img class="img-responsive img-circle logo" src="~/Images/logo.jpg" ></a>
						<span>Online CV</span>
					</div>
					<div class="col-md-4 col-md-offset-5 menubar">
						<a href="index.html">Home</a>
						<a href="javascript:void(0)">Contact Us</a>
						<a href="javascript:void(0)">About</a>
						<a href="javascript:void(0)">FAQ</a>
					</div>
				</div>
			</div>
		</div>

</body>
</html>